<div class="card">
    <div class="card-header">
        <h1 class="card-title">Customer <span class="text-primary">{{ customer?.fullName }}</span></h1>
    </div>
    <div class="card-body">

        <div class="row">
            <dt class="col-sm-2">
                Customer #{{ '::Id' | abpLocalization }}:
            </dt>
            <dd class="col-sm-10">
                #{{ customer?.id }}
            </dd>

            <dt class="col-sm-2">
                {{ '::FullName' | abpLocalization }}:
            </dt>
            <dd class="col-sm-10">
                {{ customer?.fullName }}
            </dd>

            <dt class="col-sm-2">
                {{ '::Gender' | abpLocalization }}:
            </dt>
            <dd class="col-sm-10">
                {{ '::Enum:Gender.'+customer?.gender | abpLocalization }}
            </dd>

            <dt class="col-sm-2">
                {{ '::Age' | abpLocalization }}:
            </dt>
            <dd class="col-sm-10">
                {{ customer?.age }}
            </dd>

            <dt class="col-sm-2">
                {{ '::DateOfBirth' | abpLocalization }}:
            </dt>
            <dd class="col-sm-10">
                {{ customer?.dateOfBirth | date: 'dd-MMM-yyyy' }}
            </dd>

            <dt class="col-sm-2">
                {{ '::Address' | abpLocalization }}:
            </dt>
            <dd class="col-sm-10">
                {{ customer?.address }}
            </dd>

            <dt class="col-sm-2">
                {{ '::Email' | abpLocalization }}:
            </dt>
            <dd class="col-sm-10">
                {{ customer?.email }}
            </dd>

            <dt class="col-sm-2">
                {{ '::PhoneNumber' | abpLocalization }}:
            </dt>
            <dd class="col-sm-10">
                {{ customer?.phoneNumber }}
            </dd>
        </div>
        <div class="mt-2">
            <button color="accent" mat-raised-button [routerLink]="['/customers']" class="me-5"><i
                    class="fa fa-arrow-left me-1"></i>
                Go Back
            </button>
            <button color="primary" mat-raised-button [routerLink]="['/customers/edit', customer?.id]">
                <i class="fa fa-edit me-1"></i> Edit Customer
            </button>
        </div>
    </div>
</div>



<div class="card mt-4">
    <div class="card-header">
        <div class="card-title">
            {{customer?.fullName}}'s Orders
        </div>
    </div>

    <div class="card-body">
        <ngx-datatable [rows]="orders" [count]="orders.length" default>

            <ngx-datatable-column [name]="'::OrderId' | abpLocalization" prop="id">
                <ng-template let-value="value" ngx-datatable-cell-template>
                    #{{ value }}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [name]="'::OrderDate' | abpLocalization" prop="orderDate">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.orderDate | date }}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [name]="'::OrderStatus' | abpLocalization" prop="orderStatus">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ '::Enum:OrderStatus.' + row.orderStatus | abpLocalization }}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [name]="'::ShippingAddress' | abpLocalization"
                prop="shippingAddress"></ngx-datatable-column>

            <ngx-datatable-column [name]="'::Actions' | abpLocalization" [maxWidth]="150" [sortable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <a [routerLink]="['/orders/details', row.id]" class="ms-2">
                        <i class="fa fa-info-circle text-info" aria-hidden="true"></i>
                    </a>
                </ng-template>
            </ngx-datatable-column>

        </ngx-datatable>
    </div>

</div>